<?xml version="1.0" ?>
<!--
  ~   Copyright (c) 2016 SOZO Design. All rights reserved.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="downloads" frontName="downloads">
            <module name="Sozo_ProductDownloads"/>
        </route>
    </router>
</config>
