<?xml version="1.0"?>
<!--
  ~   Copyright (c) 2016 SOZO Design. All rights reserved.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="sozo_product_downloads" instance="Sozo\ProductDownloads\Model\Adminhtml\Download\Observer"/>
    </event>
</config>
